html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
}
#header{
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
}
#header .logo img{
    width: 100%;
}
#header .nav-custom{
    height: 100%;
}
#header .nav-custom ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
}
#header .nav-custom ul li{
    display: block;
    padding: 0 10px;
    font-size: 18px;
}
#header .nav-custom ul li a{
    color: #fff;
    text-decoration: none;
}
#header .btn-set{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#header .btn-set a{
    color:#fff;
    padding: 5px 25px;
    text-decoration: none;
    border: 1px solid #fff;
    display: block;
    margin: 0 5px;
    border-radius: 5px;
}
#header .btn-set a.demo{
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}
#header .btn-set a.user{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section .banner{
    background-image: url('../images/banner-bg.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
#section .banner .text-wrap {
    color: #fff;
    height: 100%;
    flex-flow: column;
    display: flex;
    justify-content: center;
}
#section .banner .text-wrap h1{
    font-weight: 600;
    font-size: 45px;
}
#section .banner .text-wrap h1 span{
    color: #010255;
    text-decoration: underline;
}
#section .banner .text-wrap a{
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 10px;
}
#section .banner .text-wrap a:first-child{
    border-color: #010255;
    color: #010255;
    border-radius: 25px;
}
#section .banner .img-box img{
    width: 100%;
}
#section .products{
    padding: 100px 0;
}
#section .products h1,#section .services h1{
    font-size: 48px;
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
}
#section .products .text-wrap{
    padding-left: 50px;
    position: relative;
}
#section .products h3{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}
#section .products h3.gradient-text span{
    background: linear-gradient(91deg, #00D650 0%, #008ED2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#section .products h3::before{
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f061";
    font-weight: bold;
    left: 0;
    font-size: 20px;
}
#section .products h3.gradient-text::before{
    color: #01D451;
}
#section .products .img-box img {
    width: 100%;
}
#section .about{
    background-image: url('../images/banner-bg.png');
    padding: 100px 0;
}
#section .about p{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
#section .services{
    padding: 100px 0;
    text-align: center;
}
#section .services .panel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#section .services .panel .serve{
    max-width: 23%;
    flex: 0 0 23%;
    -ms-flex: 0 0 23%;
    border-radius: 10px;
    border: 1px solid #CBCCCE;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(25px);
    padding: 25px;
    margin: 10px;
}
#section .services .panel .serve img{
    width: 82px;
}
#section .services .panel .serve h3{
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0;
}
#section .services .panel .serve p{
    font-size: 13px;
    color: #848484;
}
#section .pricing{
    padding: 100px 0;
    background-color: rgba(0, 142, 210, 0.10);
}
#section .pricing h4{
    text-align: center;
    color: #008ED2;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
#section .pricing h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #000;
}
#section .pricing p{
    text-align: center;
    color: #848484;
}
#section .pricing .card{
    background-color: #fff;
    border: 0;
    border-radius: 25px;
    padding: 50px 35px;
    margin-top: 100px;
}
#section .pricing .card.card-dark{
    background-color: #000;
    color: #fff;
    margin-top: 30px;
}
#section .pricing .card .details{
    display: flex;
}
#section .pricing .card .details .icon{
    max-width: 72px;
    flex: 0 0 72px;
}
#section .pricing .card .details .icon img{
    width: 100%;
}
#section .pricing .card .details .headings{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section .pricing .card .details .headings h4{
    color: #6F6C90;
    font-size: 16px;    
    font-weight: 500;
    line-height: 20px;
    margin: 0; 
    text-align: left;
    text-transform: capitalize;
}

#section .pricing .card .details .headings h2{
    color: #170F49;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px; 
}
#section .pricing .card p{
    color: #6F6C90;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 10px 0;
}
#section .pricing .card h3{
    color: #170F49;
    font-size: 48px;
    font-weight: 700;
    line-height: 66px;
}
#section .pricing .card h3 small{
    color: #6F6C90;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}
#section .pricing .card h5{
    color: #170F49;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin: 5px 0;
}
#section .pricing .card ul{
    padding-top: 10px;
    position: relative;
}
#section .pricing .card ul li{
    display: block;
    margin: 10px 0;
    color: #170F49;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
#section .pricing .card ul li::before{
    font-family: "Font Awesome 6 Free";
    position: absolute;
    content: "\f058";
    font-weight: bold;
    left: 0;
    font-size: 18px;
}
#section .pricing .card a{
    background-color: #020100;
    color: #fff;
    padding: 20px 35px;
    display: block;
    text-align: center;
    border-radius: 35px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
#section .pricing .card.card-dark h4,#section .pricing .card.card-dark h2,#section .pricing .card.card-dark p,#section .pricing .card.card-dark h3,#section .pricing .card.card-dark h3 small,#section .pricing .card.card-dark h5,#section .pricing .card.card-dark ul li{
    color: #fff !important;
}
#section .pricing .card.card-dark a{
    background-color: #fff;
    color: #000;
}
#section .pricing .card.card-dark .badge{
    background-color: #353433;
    padding: 10px 20px;
    color: #fff;
    position: absolute;
    right: 25px;
    font-size: 12px;
    top: 40px;
    border-radius: 7px;
    font-weight: normal;
}
#section .about h2{
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
#section .about h4{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
#section .about h4 strong{
    font-weight: 700;
}
#section .contact{
    background-image: url('../images/contact-bg.png');
    background-size: cover;
    padding: 100px 0;
}
#section .contact h2{
    color: #000;
    font-weight: 700;
    font-size: 50px;
}
#section .contact ul li{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0;
    display: block;
    display: flex;
}
#section .contact ul li img{
    max-width: 40px;
    flex: 0 0 40px;
    height: 40px;
    margin-right: 10px;
}
#section .contact iframe{
    width: 100%;
    border-radius: 25px;
    height: 250px;
}
#section .contact .form{
    background-image: url('../images/form-bg.png');
    background-size: cover;
    padding: 80px 50px 50px;
    border-radius: 10px;
    background-position: center;
}
#section .contact .form h5{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
#section .contact .form input, #section .contact .form textarea{
    background-color: #fff;
    border: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}
#section .contact .form button{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #008ED2;
    color: #fff;
    padding: 15px;
    font-weight: 600;
}
#footer{
    background: #F2F2F2;
    padding: 50px 0;
}
#footer .logo img{
    width: 100%;
}
#footer .contact-details{
    padding: 10px 0;
}
#footer .contact-details p{
    margin: 0;
}
#footer .contact-details p a{
    color: #000;
    font-weight: 500;
}
#footer .copyright address{
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    text-align: right;
}
#footer .footer-links{
    margin-top: 50px;
}
#footer .footer-links h3{
    color: #000;
    font-size: 24px;
    font-weight: 600;
}
#footer .footer-links ul{
    margin: 0;
    padding: 0;
}
#footer .footer-links ul li{
    display: block;
    margin: 10px 0;
}
#footer .footer-links ul li a{
    color: #000;
    font-weight: 300;
    text-decoration: none;
}
#footer .footer-links .social{
    padding: 20px 0;
}
#footer .footer-links .social img{
    width: 36px;
    margin-right: 10px;
}
#footer .footer-links .extras a{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 5px 2px 5px 0;
}
#footer .footer-links img{
    width: 100%;
}
@media screen and (max-width: 1199px){
    #section .pricing .card.card-dark .badge{
        top: 20px;
    }
}
@media screen and (max-width: 991px){
    .col-md-0{
        display: none;
    }
    #section .banner .text-wrap h1{
        font-size: 30px;
    }
    #section .products .text-wrap p{
        font-size: 14px;
    }
    #section .about p{
        font-size: 16px;
    }
    #section .services .panel .serve{
        max-width: 47%;
        flex: 0 0 47%;
        -ms-flex: 0 0 47%;
    }
    #section .pricing .card,#section .pricing .card.card.card-dark{
        margin-top: 30px;
    }
    #section .contact h2{
        font-size: 45px;
    }
    #header .nav-collapse{
        background-color: #000;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    #header .nav-collapse.show{
        max-height: 100%;
    }
    #header .nav-custom ul{
        display: block;  
        padding: 10px 0;      
    }
    #header .nav-custom ul li{
        border-bottom: 1px solid #fff;
        padding: 5px 10px;
    }
    #header .btn-set{
        justify-content: center;
        padding-bottom: 10px;
    }
    .nav-toggle{
        color: #fff;
        cursor: pointer;
        font-size: 22px;
    }
}
@media screen and (max-width: 767px){
    #section .banner{
        height: auto;
        padding: 100px 0;
    }
    #section .services .panel .serve {
        max-width: 100%;
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }
    #footer .copyright address,#footer .contact-details{
        text-align: center;
    }
}
@media screen and (max-width: 575px){
    #header .btn-set a.user{
        max-width: 35px;
        flex: 0 0 35px;
        -ms-flex: 0 0 35px;
    }
}